@import url(http://fonts.googleapis.com/css?family=Open+Sans);

@import "compass/css3";

@import url(http://fonts.googleapis.com/css?family=Merriweather);
$red: #e74c3c;

*, 
*:before, 
*:after {
   @include box-sizing(border-box); 
}


body{
    background-color: #303235;
    margin-top: 10px;
    font-family: 'Open Sans',sans-serif;
}

/*HEADER*/

header{
    margin-top: 20px;
    height: 40px;
    width: 150px;
}


header img{
    margin: 0 0 10px 10px;
    float: left;
    
}
header p{
    top: 10px;
    left: 10px;
    position: relative;
    color: white;
    
    
}

/*STUDENT-innhold*/
 
main{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}

#innhold{
    height: 450px;
    width: 550px;
    border: 1px solid ;
    color: #303235;
    
   
}


#knapper{
    width: 160px;
}

/*De 3 knappene*/

.btn {
    float: left;
  border-radius: 5px;
  padding: 15px 25px;
  font-size: 12px;
  text-decoration: none;
  margin: 20px;
  color: #303235;
  position: relative;
  display: inline-block;
    width: 100%;
}

.btn:active {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
}

.green {
  background-color: #2ecc71;
  box-shadow: 0px 0px 0px 0px #15B358;
}

.green:hover {
  background-color: #48E68B;
}


.red {
  background-color: #e74c3c;
  box-shadow: 0px 0px 0px 0px #15B358;
}

.red:hover {
  background-color: #FF6656;
}

.yellow {
  background-color: #f1c40f;
  box-shadow: 0px 0px 0px 0px #15B358;
}

.yellow:hover {
  background-color: #FFDE29;;
}

/*SPM-box*/
#spm{
    position: relative;
    height: 225px;
    width: 260px;
    margin-left: 250px;
    border: 2px solid grey;
    margin-top: 20px;
}


/*Form*/


/* Input Styles */
.contact-form{
    position: relative;
    margin-top:20px;
}

  .form{
    width: 100%;
    padding: 15px;
    background:#f8f8f8;
    border:1px solid rgba(0, 0, 0, 0.075);
    margin-bottom:25px;
    color:#727272 !important;
    font-size:13px;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
  }

  .form:hover{
    border:1px solid #8BC3A3;
  }

  .form:focus{
    color: white;
    outline: none;
    border:1px solid #8BC3A3;
  }

  .textarea{
    height: 200px;
    max-height:20px;
    max-width: 84%;
    margin: 20px;
  
  }
  
/* Send Button */

  .form-btn{
      
    width:100px;
      height: 20px;
    font-size: 12px;
  text-decoration: none;
    display: inline-block;
    padding:15px 25px;
    color:#303235;
    background: #b7babf;
    border-radius:5px;
    outline: none;

    margin-top: -15px; 
    margin-left: 20px;
    line-height: 20%;

   
  }

  .form-btn:hover{
    background:#111;
    color: white;
    border:none;
  }

  .form-btn:active{
    opacity: 0.9;
  }
center{
  margin-top:330px;
}
input {
    position: relative;
    z-index: 9999;
}

#spmLectur{
    color: white;
}




/*LECTURER: */

/* Slider */

.ui-slider-horizontal {
    width: 200px;  
}

.ui-widget-content {

	background: #c0c0c0;

}
.ui-slider .ui-slider-handle {
	background: grey;
}

